@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background-color: #444;
}

body::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 20px;
  border: 3px solid #444;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #111;
  border-radius: 20px;
}

a.link:active,
a.link:hover {
  text-decoration: none;
  color: #1a1a1a;
}

a.link {
  text-decoration: none;
  color: #f0f0f0;
}

body {
  font-family: "Lato";
}
body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #f0efe8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  background-color: #1a1a1a;
  height: 66px;
  max-width: 100%;
  margin: 0 0 10px 0;
}

.menu__order {
  padding: 7px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__item {
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  font-size: 17px;
  color: #fefcff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
}

.main {
  max-width: 85%;
  margin: 0 auto;
  background-color: #fefcff;
  border: solid 1px #1a1a1a;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px #666;
          box-shadow: 0px 0px 10px #666;
  padding: 25px;
}

.font-main {
  font-size: 16.5px;
  letter-spacing: 1px;
  line-height: 22px;
}

.main__container {
  background-color: #fefcff;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__active {
  border-bottom: solid 2px #f0f0f0;
}

.menu__item:hover {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #1a1a1a;
  background-color: #f0f0f0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.menu__item:hover .item__active {
  border-bottom: solid 2px #1a1a1a;
  -webkit-transition: border-bottom 1s;
  -o-transition: border-bottom 1s;
  transition: border-bottom 1s;
}

.menu__item:hover a {
  display: block;
  height: 100%;
}

.menu__item:not(:hover) {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__item:active {
  background-color: rgb(225, 211, 255);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.footer {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1a1a1a;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.footer__text {
  opacity: 0.5;
  color: #f0efe8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  width: 200px;
  height: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__icon {
  display: block;
  top: 26px;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 7;
  cursor: pointer;
}
.menu__icon.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.menu__icon.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.menu__icon.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.menu__icon > span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.menu__icon > span:first-child {
  top: 0;
}
.menu__icon > span:last-child {
  top: auto;
  bottom: 0;
}

@media (max-width: 770px) {
  .menu__body {
    overflow: auto;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: #1a1a1a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
}
.menu__body.active {
  left: 0;
}

@media (max-width: 770px) {
  .menu__order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    margin: auto;
  }
}