@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background-color: #444;
}

body::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 20px;
  border: 3px solid #444;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #111;
  border-radius: 20px;
}

a.link:active,
a.link:hover {
  text-decoration: none;
  color: #1a1a1a;
}

a.link {
  text-decoration: none;
  color: #f0f0f0;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Lato";
}
body.lock {
  overflow: hidden;
}

.wrapper {
  padding-top: 76px;
  min-height: 100vh;
  overflow: hidden;
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 4;
  background-color: #1a1a1a;
  height: 66px;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.header.hide {
  -webkit-transform: translateY(-66px);
      -ms-transform: translateY(-66px);
          transform: translateY(-66px);
}

.menu__order {
  padding: 7px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__item {
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  font-size: 17px;
  color: #fefcff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
}

.main {
  max-width: 85%;
  margin: 0 auto;
  background-color: #222;
  border: solid 1px #1a1a1a;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px rgb(14, 4, 4);
          box-shadow: 0px 0px 5px rgb(14, 4, 4);
  padding: 25px;
}

.font-main {
  font-size: 16.5px;
  letter-spacing: 1px;
  line-height: 22px;
}

.main__container {
  z-index: 12;
  background-color: #222;
  max-height: 100vh;
}
@media (max-width: 1050px) {
  .main__container {
    max-height: 100%;
  }
}

.main__row {
  z-index: 13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__active {
  border-bottom: solid 2px #f0f0f0;
}

.menu__item:hover {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #1a1a1a;
  background-color: #f0f0f0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.menu__item:hover .item__active {
  border-bottom: solid 2px #1a1a1a;
  -webkit-transition: border-bottom 1s;
  -o-transition: border-bottom 1s;
  transition: border-bottom 1s;
}

.menu__item:hover a {
  display: block;
  height: 100%;
}

.menu__item:not(:hover) {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__item:active {
  background-color: rgb(225, 211, 255);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.footer {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1a1a1a;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.footer__text {
  opacity: 0.5;
  color: #f0efe8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__body {
  max-width: 890px;
  margin: 0 auto;
}

.main__column {
  background-color: #121212;
  color: #eeeeee;
  max-width: 100%;
  -webkit-box-shadow: 0 0 5px #111;
          box-shadow: 0 0 5px #111;
  border-radius: 10px;
  border: solid 1px #111;
  padding: 20px 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
@media (max-width: 1050px) {
  .main__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
    margin: 0 auto 30px auto;
  }
}
@media (max-width: 770px) {
  .main__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }
}
@media (max-width: 550px) {
  .main__column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__img {
  z-index: 3;
  margin: 0 auto;
  max-width: 300px;
  max-height: 300px;
}
@media (max-width: 770px) {
  .main__img {
    max-width: 250px;
    max-height: 250px;
  }
}
@media (max-width: 550px) {
  .main__img {
    max-width: 100px;
    max-height: 100px;
  }
}

.main__pic {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
}
@media (max-width: 770px) {
  .main__pic {
    max-width: 200px;
    max-height: 200px;
  }
}
@media (max-width: 550px) {
  .main__pic {
    max-width: 100px;
    max-height: 100px;
  }
}

.main__subtitle {
  text-align: center;
  margin: 10px 0 10px 0;
  font-family: Roboto;
  font-size: 20px;
}

.main__text {
  margin: 10px 0 10px 10px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 770px) {
  .main__text {
    font-size: 16.5px;
  }
}

.main__button {
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  display: block;
  font-family: Roboto;
  background-color: #00897b;
  color: #fff;
  border-radius: 10px;
  border: solid 1px #111;
}

.main__button:hover {
  background-color: #bdbdbd;
  color: #111;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.main__button:not(:hover) {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.main__button:active {
  background-color: #333;
}

.main__data {
  position: relative;
  text-align: right;
  color: #333;
  opacity: 0.6;
  font-size: 12px;
  font-family: "Roboto";
}

.br {
  margin: 10px 0 0 0;
}

.main__spoiler p {
  text-indent: 0;
}

.main__title-spoiler {
  z-index: 1;
  letter-spacing: 1px;
  position: relative;
  margin: 0 0 0 3px;
  padding: 0 0 0 20px;
  cursor: pointer;
  font-size: 15px;
  z-index: 2;
}
@media (max-width: 720px) {
  .main__title-spoiler {
    font-size: 18px;
  }
}

.main__title-spoiler::before,
.main__title-spoiler::after {
  content: "";
  width: 8px;
  height: 1px;
  background-color: #1a1a1a;
  position: absolute;
  top: 8.5px;
  right: 9px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main__title-spoiler::before {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  left: 0;
}

.main__title-spoiler::after {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
  left: 5px;
}

.main__title-spoiler.active::before,
.main__title-spoiler.active::after {
  background-color: red;
}

.main__title-spoiler.active::before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.main__title-spoiler.active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.main__item-spoiler {
  margin: 0 0 20px 0;
}

.main__text-spoiler {
  display: none;
  padding: 7px 0 0 0;
}

.menu__icon {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (max-width: 770px) {
  .menu__icon {
    display: block;
    top: 26px;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 7;
    cursor: pointer;
  }
  .menu__icon.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu__icon.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu__icon.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
  .menu__icon span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f0f0f0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
}

.menu__body {
  z-index: 6;
}
@media (max-width: 770px) {
  .menu__body {
    overflow: auto;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: #1a1a1a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
}
.menu__body.active {
  left: 0;
}

@media (max-width: 770px) {
  .menu__order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    margin: auto;
  }
}

.main__title {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  font-family: "Roboto";
  margin-top: 20px;
  margin-bottom: 20px;
}

.main__textF {
  font-family: "Roboto";
  font-size: 16px;
  margin-bottom: 20px;
}

.main__buttonF {
  margin: 0 auto;
  width: 300px;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  display: block;
  font-family: Roboto;
  background-color: #fbff85;
  color: #111;
  border-radius: 10px;
  border: solid 1px #111;
}

.main__buttonF:hover {
  background-color: #111;
  color: #f0f0f0;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.main__buttonF:not(:hover) {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.main__buttonF:active {
  background-color: #333;
}